# This file is read in setup.py so it must be included in the source zip for pip to be able to install the zip
# Note however that since the pypi.md file is not a part of the package (it is not inside the pyedbglib sub folder)
# it won't be included in the python wheel.
include pypi.md